{% extends "base_template.html" %}

{% block title %} Consultar comisión {% endblock %}

{% block content %}
<div class="container mt-3">
  {% with messages = get_flashed_messages(with_categories=True)  %}
      {% if messages %}
        {% for category, message in messages %}
        {% if category == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% elif category == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title mb-4">Datos comisión</h4>
        <div class="row">
          <div class="col">
            <p class="card-text"><strong>Nombre:</strong> {{ comision.nombre }}</p>
            {% if comision.comentarios %}
            <p class="card-text d-grid mt-3 mb-3"><strong>Comentarios:</strong> {{ comision.comentarios }}</p>
            {% endif %}
          </div>
          <div class="col">
            <p class="card-text"><strong>Fecha de apertura: </strong> {{ comision.fecha_apertura | datetime }}</p>
            {% if comision.fecha_cierre %}
            <p class="card-text mt-3 mb-3"><strong>Fecha de cierre: </strong> {{ comision.fecha_cierre | datetime }}</p>
            {% endif %}
          </div>
          <h5 class="my-4">Composición</h5>
          {% if not data_miembros_comision %}
          <p>Esta comisión no posee actualmente ningún miembro</p>
          {% else %}
          <div class="member-list">
            {% for miembro in data_miembros_comision %}
            <div class="member-card">
              <h5 class="card-title"><strong>{{ miembro[5] }}</strong></h5>
              {% if miembro[3] %}
              <p class="card-text">&emsp;<strong>Cargo:</strong> {{ miembro[3] }}</p>
              <br>
              {% endif %}
              <p class="card-text">&emsp;<strong>Fecha incorporación:</strong> {{ miembro[1] | datetime }}</p>
              <p class="card-text">&emsp;<strong>Fecha de baja:</strong> {% if miembro[2] %} {{ miembro[2] | datetime }} {% else %} El miembro actualmente sigue dado de alta {% endif %}</p>
              {% if miembro[4] %}
              <div class="member-info-separator"></div>
              <p class="card-text">&emsp;<strong>Motivo de baja:</strong> {{ miembro[4] }}</p>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% endif %}
          <div class="mt-4">
            <a {% if comision.fecha_cierre %} href="{{url_for('comision.update_comision_cerrada', id_comision=comision.id, miembros_comision=miembros_comision)}}"  {% else %} href="{{url_for('comision.update_comision', id_comision=comision.id, miembros_comision=miembros_comision)}}" {% endif %} class="btn btn-primary member-button">Editar comisión</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{url_for('static', filename='js/comisiones-index.js')}}"></script>
{% endblock %}