* {
    font-family: 'Poppins', sans-serif;
}

.form-check.form-switch {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.list-miembros, .list-comisiones {
    background-color: transparent;
}

.contenedor-miembro {
    /* Para el botón de añadir */
    overflow: auto;
}

.add-svg {
    float: right;
    margin-bottom: 1.5rem;
}

.nombre-miembro {
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0.8rem;
}

.svg-miembro {
    margin-left: 0rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.switch-miembro {
    margin-left: 1.5rem;
    margin-top: 0.2rem;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

/* Switch miembros */
.form-check-input:checked {
    background-color: #39b300;
}

.form-check-input {
    background-color: #F44336;
}

/* Paginación */
:root {
    --primary: #23adad;
    --greyLight: #23adade1;
    --greyLight-2: #cbe0dd;
    --greyDark: #2d4848;
    /*#cfdef3*/
}

a {
    text-decoration: none;
}

.pagination {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--greyLight-2);
    color: var(--greyDark);
  }

ul {
    list-style-type: none;
  }

  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin: 3rem;
    border-radius: 0.6rem;
    box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
  }
  
  .page__numbers,
  .page__btn,
  .page__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  .page__dots {
    width: 2.6rem;
    height: 2.6rem;
    color: var(--greyLight);
    cursor: initial;
  }
  
  .page__numbers {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.4rem;
  }
  
  .page__numbers:hover {
    color: var(--primary);
  }
  
  .page__numbers.active {
    color: #ffffff;
    background: var(--primary);
    font-weight: 600;
    border: 1px solid var(--primary);
  }
  
  .page__btn {
    color: var(--greyLight);
    pointer-events: none;
  }
  
  .page__btn.active {
    color: var(--greyDark);
    pointer-events: initial;
  }
  
  .page__btn.active:hover {
    color: var(--primary);
  }
  
  