{% extends "base_template.html" %}

{% block title %} Consultar miembro {% endblock %}

{% block content %}
<div class="container mt-3">
  {% with messages = get_flashed_messages()  %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mt-2 mb-4">Datos miembro</h4>
        <div class="row">
          <div class="col">
            <p class="card-text"><strong>Nombre:</strong> {{ miembro.nombre }}</p>
            <p class="card-text"><strong>DNI:</strong> {{ miembro.dni }}</p>
            <p class="card-text"><strong>Teléfono:</strong>{% if miembro.telefono %} {{ miembro.telefono }} {% endif %}</p>
          </div>
          <div class="col">
            <p class="card-text"><strong>Apellidos:</strong> {{ miembro.apellidos }}</p>
            <p class="card-text"><strong>Correo:</strong>{% if miembro.correo %} {{ miembro.correo }} {% endif %}</p>
            <p class="card-text"><strong>Tipo:</strong> {{ miembro.tipo }}</p>
          </div>
          <div class="mt-4">
            <a href="{{url_for('miembro.update_miembro', miembro_id=miembro.id)}}" class="btn btn-primary member-button">Editar miembro</a>
          </div>
      </div>
    </div>
  </div>
{% endblock %}